.outer {
    margin: auto;
    background-color: rgb(10, 25, 47);
    max-width: none;
    min-width: none;
}

.inner {
    margin: auto;
    max-width: 1248px;
    min-width: none;
    overflow: hidden;
}